<template>
<!-- 接口参数的展示、编辑容器组件 -->
  <div class="module-container" v-if="detailDisplay">
    <transition name="slide-fade">
      <el-card>
        <div slot="header">
          <div class="button-list">
            <el-button type="warning" @click.native="handleSubmit" v-if="isEdit">保存</el-button>
            <el-button type="danger" @click.native="handleCancel" v-if="isEdit">取消</el-button>
          </div>
          <el-form :model="actionItem" :rules="rules" ref="config-form"
                   :inline="true" label-width="100px" class="apiConfig-form">
            <el-form-item label="接口名称" prop="name">
              <el-input v-model="actionItem.name" :readonly="!isEdit"></el-input>
            </el-form-item>
            <el-form-item label="接口标识" prop="identifier">
              <el-input v-model="actionItem.identifier" :readonly="!isEdit"></el-input>
            </el-form-item>
            <el-form-item v-if="isEdit" label="请求类型" prop="requestType">
              <el-select v-model="actionItem.requestType" placeholder="请选择请求类型">
                <el-option label="GET" value="GET"></el-option>
                <el-option label="POST" value="POST"></el-option>
                <el-option label="PUT" value="PUT"></el-option>
                <el-option label="DELETE" value="DELETE"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item v-else label="请求类型" prop="requestType">
              <el-input v-model="actionItem.requestType" :readonly="!isEdit"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="success" :disabled="isEdit" @click="apiPreview">接口预览</el-button>
            </el-form-item>
            <el-form-item label="接口地址" style="display: block">
              {{apiURL}}
              <p class="url_mark">备注：接口地址动态生成，不可修改。</p>
            </el-form-item>
            <div class="actionlist-container">
              <div class="request-param_container">
                <h4>请求参数列表</h4>
                <div class="param-header">
                  <span :style="formHeadItemStyle">含义</span>
                  <span :style="formHeadItemStyle">变量名</span>
                  <span :style="formHeadItemStyle">类型</span>
                  <span :style="formHeadItemStyle">数据模拟类别</span>
                  <span :style="formHeadItemStyle">备注</span>
                  <span v-if="isEdit" :style="formHeadItemStyle">操作</span>
                </div>
                <param-table paramType="request" :paramList="actionItem.requestParameterList" :isEdit="isEdit" />
              </div>
              <div class="response-param_container">
                <h4>响应参数列表</h4>
                <div class="param-header">
                  <span :style="formHeadItemStyle">含义</span>
                  <span :style="formHeadItemStyle">变量名</span>
                  <span :style="formHeadItemStyle">类型</span>
                  <span :style="formHeadItemStyle">数据模拟类别</span>
                  <span :style="formHeadItemStyle">备注</span>
                  <span v-if="isEdit" :style="formHeadItemStyle">操作</span>
                </div>
                <param-table paramType="response" :paramList="actionItem.responseParameterList" :isEdit="isEdit" />
              </div>
            </div>
          </el-form>
        </div>
      </el-card>
    </transition>
    <mock-preview :mockPreviewControl.sync="mockPreviewControl"
                  :requestParams="mockData.requestParams"
                  :responseData="mockData.responseData" />
  </div>
</template>
<script>
import paramTable from './paramTable'
import MockPreview from './MockPreview'
import _cloneDeep from 'lodash/cloneDeep'
import Util from './util.js'
import { mapActions, mapState } from 'vuex'

export default {
  components: {
    paramTable,
    MockPreview
  },
  data() {
    return {
      actionItem: null, // 接口配置数据
      moduleIdentifier: '', // 父模块标识
      isEdit: false,
      tempObj: null, // 暂存原始数据，取消修改时恢复数据时使用
      // 表单检验规则
      rules: {
        name: [
          { required: true, message: '请输入接口名称', trigger: 'blur' }
        ],
        identifier: [
          { required: true, message: '请输入接口标识', trigger: 'blur' }
        ],
        requestType: [
          { required: true, message: '请选择请求类型', trigger: 'change' }
        ]
      },
      formHeadItemStyle: {
        width: this.isEdit ? 'calc(100% / 6)' : 'calc(20%)'
      },
      mockPreviewControl: false, // 控制显示接口预览弹框
      mockData: {
        requestParams: null,
        responseData: null
      }
    }
  },
  computed: {
    ...mapState({
      projectIdentifier: state => state.projectIdentifier,
      projectVersion: state => state.version
    }),
    // 是否显示接口配置详情
    detailDisplay() {
      return this.actionItem !== null
    },
    // 接口标识
    apiIdentifier() {
      return this.actionItem.identifier
    },
    // 接口地址
    apiURL() {
      return `/${this.projectIdentifier}/${this.projectVersion}/${this.moduleIdentifier}/${this.apiIdentifier}`
    }
  },
  created() {
    // 监听新增版本事件
    this.$eventBus.$on('addVersion', () => {
      this.addAPIVersion()
    })
    // 监听节点编辑点击事件
    this.$eventBus.$on('sidebar_editApi', val => {
      this.isEdit = true
    })
    // 监听节点点击事件
    this.$eventBus.$on('sidebar_clickNode', apiData => {
      if (apiData === null) {
        return this.actionItem = null
      }
      this.actionItem = JSON.parse(JSON.stringify(apiData.data))
      this.moduleIdentifier = apiData.moduleIdentifier
      this.tempObj = _cloneDeep(this.actionItem)
      this.isEdit = false
    })
  },
  methods: {
    ...mapActions(['apiIdentifierVerify', 'updateApi', 'startAPI', 'mockPreview', 'addVersion']),
    // 点击保存按钮
    async handleSubmit() {
      // 当接口标识修改时，需要进行重复校验
      if (this.apiIdentifier !== this.tempObj.identifier) {
        const err = await this.apiIdentifierVerifyConfig()
        if(err !== null){
          return this.$message.error(err)
        }
      }

      const actionItem = this.actionItem
      this.$refs['config-form'].validate(valid => {
        if (!valid) return false
        // 提交至后台
        this.updateApi({
          originIdentifier: {
            moduleIdentifier: this.moduleIdentifier,
            actionIdentifier: this.tempObj.identifier
          },
          updatedData: {
            name: actionItem.name,
            identifier: actionItem.identifier,
            requestType: actionItem.requestType,
            requestParameterList: actionItem.requestParameterList,
            responseParameterList: actionItem.responseParameterList
          }
        }).then(data => {
          this.$message.success(data.message)
          this.isEdit = false
          // 更新备份数据
          this.tempObj = _cloneDeep(actionItem)
        }).catch(err => {
          this.$message.error(err)
        })
      })
    },
    // 点击取消按钮
    handleCancel() {
      // 恢复页面数据
      this.actionItem = JSON.parse(JSON.stringify(this.tempObj))
      this.isEdit = false
    },
    // 保存之前对数据进行校验
    apiIdentifierVerifyConfig() {
      // 接口标识重复校验
      return this.apiIdentifierVerify({
        moduleIdentifier: this.moduleIdentifier,
        apiIdentifier: this.apiIdentifier
      }).then(result => {
        if (result) {
          return '接口标识重复'
        }
        return null
      })
    },
    // 接口预览
    async apiPreview() {
      // 开启项目的mock服务
      await this.startAPI()
      // 根据规则生成模拟接口的请求参数
      const rules = _cloneDeep(this.actionItem.requestParameterList)
      const requestParam = Util.generateRequestParams(rules)

      // 请求mock接口
      this.mockPreview({
        URL: this.apiURL,
        requestType: this.actionItem.requestType,
        requestParam: requestParam
      }).then(data => {
        this.mockData.requestParams = requestParam
        this.mockData.responseData = data
        this.mockPreviewControl = true
      }).catch(err => {
        console.error(err)
      })
    },
    // 新增版本
    addAPIVersion() {
      if (this.isEdit) {
        return this.$message.warning('请先保存当前更改')
      }
      this.$confirm('将会以当前最新数据作为新的版本，确定吗？').then(() => {
        this.addVersion().then(() => {
          this.$message.success('新增版本成功')
        }).catch(err => {
          this.$message.error('新增版本失败，' + err)
        })
      }).catch(_ => {});
    }
  }
}
</script>

<style scoped>
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.module-container {
  height: 100%;
}
.apiConfig-form .el-input {
  width: 150px !important;
}
.button-list {
  margin: 20px auto 20px 30px;
}
.add-param {
  margin-top: 10px;
  margin-bottom: 20px;
}
.el-icon-close {
  color: #d9534f;
}
.el-icon-plus {
  color: #47a947;
}
.param-header {
  margin-left: 24px;
  background-color: #808080;
  display: flex;
}
.param-header > span {
  display: inline-block;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid #000;
}
.param-header > span:first-child {
  border-left: none;
}
.request-param_container,
.response-param_container {
  width: 100%;
  overflow: hidden;
}
.request-param_container h4,
.response-param_container h4 {
  width: 100%;
  margin: 15px 0;
}
.url_mark {
  display: inline;
  color: #999999;
  font-size: 10px;
  margin-left: 20px;
}
.tips {
  width: 300px;
  color: #666;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
</style>
