<template lang="html">
  <el-dialog title="接口预览" :visible.sync="showState" :append-to-body="true">
    <h3>请求参数</h3>
    <div class="params_container" style="height: 150px;">
      <pre v-html="requestParams_string"></pre>
    </div>
    <h3>响应数据</h3>
    <div class="params_container">
      <pre v-html="responseData_string"></pre>
    </div>
  </el-dialog>
</template>

<script>
  import Util from './util.js'

  export default {
    data (){
      return {
        showState: false
      }
    },
    props: {
      mockPreviewControl: {
        type: Boolean,
        default: false
      },
      requestParams: {
        type: Object,
        default: null
      },
      responseData: {
        type: Object,
        default: null
      }
    },
    computed: {
      requestParams_string() {
        return this.outPutColorStr(this.requestParams)
      },
      responseData_string() {
        return this.outPutColorStr(this.responseData)
      }
    },
    watch: {
      mockPreviewControl(state) {
        this.showState = state
      },
      showState(state) {
        this.$emit('update:mockPreviewControl', state)
      }
    },
    methods: {
      outPutColorStr(Obj) {
        if (!Obj) return ''
        const formatStr = JSON.stringify(Obj, null, 2)
        const formatStrWithColor = Util.syntaxHighlight(formatStr)
        return formatStrWithColor
      }
    }
  }
</script>

<style>
  .code_style_string { color: green; }
  .code_style_number { color: darkorange; }
  .code_style_boolean { color: blue; }
  .code_style_null { color: magenta; }
  .code_style_key { color: red; }
</style>

<style scoped>
  h3 {
    margin: 10px 0;
  }
  .params_container {
    height: 300px;
    padding: 20px;
    overflow: auto;
    border: 1px solid #cfcfcf;
  }
</style>