<template lang="html">
  <el-dialog class="mockType-modal" title="数据模拟类别选择" :visible.sync="dialogVisible">
    <el-table :data="fakerData">
      <el-table-column property="typeName" label="类别" width="150"></el-table-column>
      <el-table-column property="data" label="模拟类型">
        <template slot-scope="scope">
          <div class="mock-type">
            <el-badge class="mock-type_item disabled" 
                      v-for="item in scope.row.data"
                      :key="item.mockRule"
                      :is-dot="item.selected"
                      disabled>
              <el-button size="mini" type="primary" @click="selectType(item)">
                {{item['zh_CHS']}}
              </el-button>
            </el-badge>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <!-- 枚举类型 -->
    <div class="enum-container">
      <!-- 输入框 -->
      <div class="enum-input_container">
        <span class="enum-title">枚举</span>
        <el-input class="enum-input" 
                  v-model="enumInput"
                  :readonly="!useEnum"
                  placeholder="请输入内容" />
        <el-button type="primary" size="mini" :disabled="!useEnum" @click="addEnum">添加</el-button>
        <span style="margin-left: 10px; margin-right: 10px;">是否启用枚举</span>
        <el-switch v-model="useEnum"
                   active-color="#13ce66" />
      </div>
      <!-- 枚举内容 -->
      <div class="enum-content_container">
        <div class="enum-content_item" v-for="item in enumList" :key="item.id">
          <p>{{item.str}}</p>
          <!-- 删除icon -->
          <i class="el-icon-close enum-icon" @click="delEnum(item.id)"></i>
        </div>
      </div>
    </div>
    <div class="handle-btn_groups">
      <el-button type="danger" @click="cancelSelect">取消</el-button>
      <el-button type="success" @click="confirmSelect">确定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import fakerData from '../../../fakerData.js'

let baseID = 0

export default {
  data() {
    return {
      dialogVisible: this.visible,
      fakerData: fakerData,
      selectedType: null, // 当前选中的模拟类别
      enumList: [],
      enumInput: '',
      useEnum: false // 是否选用枚举
    }
  },
  props: {
    visible: {
      type: Boolean,
      require: true,
      default: false
    },
    curMockRule: {
      default: ''
    },
    enumData: {
      default: null
    },
    dataType: {
      default: 'string'
    }
  },
  watch: {
    dialogVisible(newValue) {
      this.$emit('update:visible', newValue)
      if (!newValue) {
        // 初始化数据
        this.selectedType = null
        this.enumList = []
        this.enumInput = ''
        this.useEnum = false
      }
    },
    visible(newValue) {
      this.dialogVisible = newValue
      if (newValue === true) {
        this.initData()
      }
    },
    useEnum(state) {
      if (state) {
        this.fakerData.forEach(item => {
          const dataObj = item.data
          for (const key in dataObj) {
            this.$set(dataObj[key], 'selected', false)
          }
        })
        this.$message.warning('启用枚举类型之后，你将无法选择其他数据模拟类别！')
      } else {
        this.initData()
        this.$message.warning('已关闭枚举，你需要选择其他数据模拟类别！')
      }
    },
    enumData(list) {
      if (list) {
        list.forEach(item => {
          this.enumList.push({
            id: ++baseID,
            str: item
          })
        })
        // 如果是枚举类型，默认打开启用枚举按钮
        this.useEnum = true
      }
    }
  },
  created() {
    this.initData()
  },
  methods: {
    initData() {
      this.fakerData.forEach(item => {
        const dataObj = item.data
        for (const key in dataObj) {
          this.$set(dataObj[key], 'selected', false)
          if (dataObj[key].mockRule === this.curMockRule) {
            this.$set(dataObj[key], 'selected', true)
          }
        }
      })
      this.selectedType = Object.assign({}, {mockRule: this.curMockRule})
    },
    selectType(typeItem) {
      // 如果启用了枚举类型，则禁止选择其他数据类别
      if (this.useEnum) return

      this.fakerData.forEach(item => {
        const dataObj = item.data
        for (const key in dataObj) {
          this.$set(dataObj[key], 'selected', false)
        }
      })
      typeItem.selected = true
      this.selectedType = typeItem
    },
    cancelSelect() {
      this.dialogVisible = false
    },
    confirmSelect() {
      if (this.useEnum) {
        this.dialogVisible = false
        let strArr = []
        this.enumList.forEach(item => {
          strArr.push(item.str)
        })
        this.$emit('confirmSelect', {
          mockRule: 'enum',
          enumData: strArr
        })
      } else if (this.useEnum === false && this.selectedType === null) {
        this.$message.warning('请选择数据模拟类别！')
      } else {
        this.dialogVisible = false
        this.$emit('confirmSelect', {
          mockRule: this.selectedType.mockRule
        })
      }
    },
    // 增加枚举
    addEnum() {
      const content = this.enumInput.trim()
      if (this.useEnum === false || content === '') return

      // 数量验证
      if (this.enumList.length >= 10) {
        return this.$message.warning('枚举数量不可以超过十个，你可以使用上方的模拟数据类别来生成数据。')
      }

      // 枚举内容判重
      const index = this.enumList.findIndex(item => item.str === content)
      if (index !== -1) {
        return this.$message.warning('枚举内容不可重复！')
      }

      // 数据类型转换
      let formatContent = ''
      if (this.dataType === 'number') {
        formatContent = Number(content)
      } else {
        formatContent = String(content)
      }

      this.enumList.push({
        id: ++baseID,
        str: formatContent
      })

      // 清除输入框
      this.enumInput = ''
    },
    // 删除枚举
    delEnum(id) {
      const index = this.enumList.findIndex(item => item.id === id)
      if (index !== -1) {
        this.enumList.splice(index, 1)
      }
    }
  }
}
</script>

<style scoped>
  .mock-type {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .mock-type_item {
    margin: 5px;
    margin-bottom: 2px;
  }
  .mock-type_item .disabled .el-button--primary{
    background-color: #D8DCE5 !important;
  }
  .mockType-modal .handle-btn_groups {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  .enum-container {
    padding-left: 10px;
    padding-top: 20px;
  }
  .enum-input {
    width: 150px;
    margin-left: 40px;
    margin-right: 10px;
  }
  .enum-content_container {
    padding-top: 20px;
  }
  .enum-content_item {
    display: inline-block;
    position: relative;
    padding: 4px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #46A0FC;
    border-radius: 5px;
  }
  .enum-icon {
    position: absolute;
    top: -6px;
    right: -6px;
    color: red;
  }
</style>