<template>
  <div class="tree-warp">
    <el-tree :data="paramList"
             ref="paramTree"
             :props="defaultProps"
             node-key="id"
             default-expand-all
             :expand-on-click-node="false"
             :indent="0"
             :render-content="isEdit ? editRenderContent : renderContent" />
    <el-button v-if="isEdit"
               class="add-para_btn"
               type="primary" 
               size="small" 
               icon="el-icon-plus"
               @click="addPara">新增参数</el-button>
    <!-- 数据模拟类别选择弹框 -->
    <mock-type  :visible.sync="mockTypeModal"
                :curMockRule="curSelectMockTypeNode ? curSelectMockTypeNode.mockType : ''"
                :enumData="(curSelectMockTypeNode && curSelectMockTypeNode.mockType) === 'enum' ? 
                          curSelectMockTypeNode.enumData :
                          null"
                :dataType="curSelectMockTypeNode ? curSelectMockTypeNode.dataType : ''"
                @confirmSelect="confirmMockType" />
  </div>
</template>

<script>
import MockType from './MockType'

// 节点自增id
let id = String(new Date().getTime()).slice(-4)

// 节点背景色值
const COLORLIST = ['#b8def5', '#eddff3', '#d0ebf2', '#e8fedf',
  '#a7e6b8', '#b8def5', '#eddff3', '#d0ebf2', '#e8fedf', '#a7e6b8']
  
// 数据类型选择数据源
const TYPEOPTIONS = [
  'number',
  'string',
  'object',
  'boolean',
  'array<number>',
  'array<string>',
  'array<boolean>',
  'array<object>',
  'array<array>'
]

export default {
  data() {
    return {
      defaultProps: {
        children: 'parameterList',
        label: 'name'
      },
      curSelectMockTypeNode: null,
      mockTypeModal: false
    }
  },
  props: {
    // 数据列表
    paramList: {
      type: Array,
      require: true,
      default: []
    },
    // 接口参数配置类型，请求/响应
    paramType: {
      type: String,
      require: true,
      default: 'request' // request/response
    },
    isEdit: {
      type: Boolean,
      require: true,
      default: false
    }
  },
  components: {
    MockType
  },
  methods: {
    // 编辑 从mockType组件抛出   选择模拟数据格式
    confirmMockType(mockType, enumData) {
      if (mockType.mockRule === 'enum') {
        this.curSelectMockTypeNode.enumData = mockType.enumData
      }
      this.curSelectMockTypeNode.mockType = mockType.mockRule
      this.curSelectMockTypeNode = null
    },
    // 编辑 弹出选择模拟数据弹框  并记录当前点击节点
    selectMockType(data) {
      this.mockTypeModal = true
      this.curSelectMockTypeNode = data
    },
    // 编辑 添加顶层参数button
    addPara() {
      this.paramList.push({
        id: id++,
        name: '',
        identifier: '',
        dataType: '',
        mockType: '',
        remark: '',
        parameterList: []
      })
    },
    // 编辑 节点的添加
    append(data) {
      const newChild = {
        id: id++,
        name: '',
        identifier: '',
        dataType: '',
        mockType: '',
        remark: '',
        parameterList: []
      }
      if (!data.parameterList) {
        this.$set(data, 'parameterList', []);
      }
      data.parameterList.push(newChild);
    },
    // 编辑 节点的删除   
    remove(node, data) {
      const parent = node.parent;
      const parameterList = parent.data.parameterList || parent.data;
      const index = parameterList.findIndex(item => item.id === data.id);
      parameterList.splice(index, 1);
    },
    handleInputValue(data, key, event) {
      data[key] = event.target.value
    },
    getTreeItemStyle(state, node, data) {
      const backgroundStyle = {
        'background-color': COLORLIST[node.level - 1] || '#b8def5'
      }

      const treeItemCellStyle = Object.assign({
        'width': this.isEdit ? 'calc(100% / 6)' : 'calc(20%)'
      }, backgroundStyle)

      const varNameStyle = Object.assign(
        {
          'text-align': 'left',
          'height': '30px',
          'line-height': '30px',
          'padding-left': 15 * (node.level - 1) + 'px'
        },
        backgroundStyle
      )

      const selectMockTypeBtnStyle = {
        'float': 'right',
        'display': data.dataType !== 'array<object>' &&
          data.dataType !== 'array<array>' &&
          data.dataType !== 'object' &&
          this.paramType === 'response' ?
          'block' :
          'none'
      }

      return {
        backgroundStyle,
        treeItemCellStyle,
        varNameStyle,
        selectMockTypeBtnStyle
      }
    },
    renderContent(h, { node, data, store }) {
      const treeItemStyle = this.getTreeItemStyle('edit', node, data)

      return (
        <div class="tree-item" style={treeItemStyle.backgroundStyle}>
          <div class="tree-item-cell" 
               style={Object.assign({}, treeItemStyle.treeItemCellStyle, {'text-align': 'left'})}>
            <span class="tree-item-var" style={treeItemStyle.varNameStyle}>{data.name}</span>
          </div>

          <span class="tree-item-cell" style={treeItemStyle.treeItemCellStyle}>
            {data.identifier}
          </span>

          <span class="tree-item-cell" style={treeItemStyle.treeItemCellStyle}>
            {data.dataType}
          </span>

          <span class="tree-item-cell" style={treeItemStyle.treeItemCellStyle}>
            {data.mockType ? data.mockType : '-'}
          </span>

          <span class="tree-item-cell" style={treeItemStyle.treeItemCellStyle}>
            {data.remark ? data.remark : '-'}
          </span>
        </div>
      )
    },
    editRenderContent(h, { node, data, store }) {
      const treeItemStyle = this.getTreeItemStyle('edit', node, data)
      let dataTypeOptions = []

      TYPEOPTIONS.forEach(item => {
        dataTypeOptions.push(
          <option selected={item === data.dataType}
            style="background: #d8dce5;"
            domProps-value={item}>{item}</option>
        )
      })

      return (
        <div class="tree-item" style={treeItemStyle.backgroundStyle}>
          <div class="tree-item-cell" style={treeItemStyle.treeItemCellStyle}>
            <input class="tree-item-var"
              domProps-value={data.name}
              on-input={(e) => this.handleInputValue(data, 'name', e)}
              style={treeItemStyle.varNameStyle} />
          </div>

          <input class="tree-item-cell"
            style={treeItemStyle.treeItemCellStyle}
            domProps-value={data.identifier}
            on-input={(e) => this.handleInputValue(data, 'identifier', e)} />

          <select class="tree-item-cell"
            style={treeItemStyle.treeItemCellStyle}
            on-input={(e) => this.handleInputValue(data, 'dataType', e)}>
            {dataTypeOptions}
          </select>

          <div class="tree-item-cell"
            style={treeItemStyle.treeItemCellStyle}>
            <span style="font-size: 12px;float: left;">{data.mockType}</span>
            <el-button class="handle-btn"
              style={treeItemStyle.selectMockTypeBtnStyle}
              size="mini"
              type="primary"
              icon="el-icon-edit"
              on-click={() => this.selectMockType(data)} />
          </div>

          <input class="tree-item-cell"
            style={treeItemStyle.treeItemCellStyle}
            domProps-value={data.remark}
            on-input={(e) => this.handleInputValue(data, 'remark', e)}>
            {data.remark}
          </input>

          <div class="tree-item-cell handle-btn_groups" style={treeItemStyle.treeItemCellStyle}>
            {
              (this.isEdit && (data.dataType === 'array<object>' || data.dataType === 'array<array>' || data.dataType === 'object')) &&
              <el-button size="mini" class="handle-btn" type="primary" icon="el-icon-plus" on-click={() => this.append(data)} />
            }
            {
              this.isEdit &&
              <el-button size="mini" class="handle-btn" type="danger" icon="el-icon-delete" on-click={() => this.remove(node, data)} />
            }
          </div>
        </div>
      )
    }
  }
}
</script>
<style>
.tree-warp .el-tree-node__content {
  height: 40px;
}
.tree-warp .el-tree-node__content:hover {
  background: none !important;
}
.tree-warp .tree-item {
  flex: 1;
  display: flex;
}
.tree-warp .tree-item-cell {
  color: #333;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  cursor: default;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tree-warp .tree-item-cell:first-child {
  border-left: none;
}
.tree-warp input:hover {
  outline: none;
}
.tree-warp .tree-item-var {
  width: 100%;
  text-align: center;
  line-height: 50px;
  padding: 0;
  border: 0;
}
.el-tree-node__expand-icon {
  font-size: 18px !important;
  margin-left: -6px;
}
.tree-item .handle-btn_groups {
  border-left: 1px solid #000;
  display: flex;
  justify-content: center !important;
}
.handle-btn {
  padding: 5px 10px;
  margin: 5px;
}
.add-para_btn {
  margin: 5px auto 5px 25px;
}
</style>
