<template>
  <div class="container">
        <div class="type-container"
             v-for="(typeItem, typeIndex) in projectList"
             :key="typeItem[0].id">
            <div class="project-item"
                 v-for="projectItem in typeItem"
                 :key="projectItem.id"
                 @click="selectProject(projectItem)">
                <img class="project-icon" :src="require(`../../assets/avatar${typeIndex}.jpg`)" />
                <p class="project-name">{{projectItem.name}}</p>
            </div>
        </div>
  </div>
</template>

<script>
import _cloneDeep from 'lodash/cloneDeep'
import { mapActions, mapState } from 'vuex'

export default {
    data () {
        return {
            typesList: [], // 所有的项目类型
            projectList: [] // 所有项目
        }
    },
    created() {
        this.getUrlParams()
        this.getAllProjectTypes().then(data => {
            this.typesList = _cloneDeep(data)
            // 获取所有项目
            this.getAllProject()
        })
    },
    methods: {
        ...mapActions(['getAllProjectTypes', 'getProjectWithType', 'getDetailWithId',
                        'setProjectId', 'setProjectInfo']),
        // 获取链接查询参数
        getUrlParams() {
            const urlQuery = this.$route.query
            if (urlQuery.id) {
                this._getDetailWithId(urlQuery.id)
            }
        },
        // 根据项目id获取详情
        _getDetailWithId(id) {
            this.getDetailWithId({
                projectId: id
            }).then(data => {
                const id = data.id
                const name = data.data.name

                this.selectProject({
                    id: id,
                    name: name
                })
            }).catch(err => {
                this.$message.error(err)
            })
        },
        // 获取所有项目
        getAllProject() {
            const promiseArr = []
            this.typesList.forEach(item => {
                const _promise = this.getProjectWithType({ type: item.name })
                promiseArr.push(_promise)
            })
            Promise.all(promiseArr).then(result => {
                this.projectList = _cloneDeep(result)
            }).catch(err => {
                console.error(err)
            })
        },
        // 选中某个项目
        selectProject(project) {
            // 将项目id存入vuex
            this.setProjectId({ id: project.id })
            // 设置项目名称
            this.setProjectInfo({ name: project.name })
            // 路由跳转
            this.$router.push({
                path: '/home/apiConfig'
            })
        }
    }
}
</script>

<style scoped>
    .container {
        width: 100%;
        padding: 20px;
        background-image: url('../../assets/mockBg.jpg');
        background-size: 100% 100%;
    }
    .type-container {
        display: flex;
    }
    .project-item {
        float: left;
        margin-right: 20px;
        margin-bottom: 40px;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
    .project-icon {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .project-icon:hover {
        box-shadow: 0 0 20px 1px #E83547;
    }
    .project-name {
        color: #fff;
        margin-top: 10px;
    }
</style>


