<template>
    <div class="header">
        <div class="logo">{{name}}</div>
        <div class="user-info">
            <img class="user-logo" src="../../assets/avatar.png">
        </div>
    </div>
</template>
<script>
    import { mapState } from 'vuex'

    export default {
        data() {
            return {}
        },
        computed: {
            ...mapState({
                name: state => state.projectName
            })
        }
    }
</script>
<style scoped>
    .header {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 70px;
        font-size: 22px;
        line-height: 70px;
        color: #fff;
    }
    .header .logo{
        float: left;
        width:250px;
        text-align: center;
    }
    .user-info {
        float: right;
        padding-right: 50px;
        font-size: 16px;
        color: #fff;
        position: relative;
    }
    .user-info .user-logo{
        position: absolute;
        top: 10px;
        right: 50px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>
