<template>
    <div class="wrapper">
        <v-head></v-head>
        <div class="content-view">
            <v-sidebar class="side-view"></v-sidebar>
            <div class="content">
                <transition name="move" mode="out-in"><router-view></router-view></transition>
            </div>
        </div>
        <!-- 新建项目 -->
        <el-dialog title="新建项目"
                   :visible.sync="dialogVisible"
                   :close-on-click-modal="false"
                   :close-on-press-escape="false"
                   :show-close="false"
                   width="30%">
            <el-form ref="form" :model="moduleModefiedData" label-width="80px">
                <el-form-item label="项目标识">
                    <el-input v-model="moduleModefiedData.identifier"
                              placeholder="项目标识一旦创建，则无法修改" />
                </el-form-item>
                <el-form-item label="友情提醒">
                    <p class="tips">项目标识即工程名，不允许出现中文</p>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="confirmModify">保存</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
    import vHead from './Header.vue';
    import vSidebar from './Sidebar.vue';
    import { mapState, mapActions } from 'vuex';
    export default {
        data() {
            return {
                dialogVisible: false,
                moduleModefiedData: {
                    identifier: ''
                }
            }
        },
        components:{
            vHead, vSidebar
        },
        created() {
            // 获取项目的版本列表
            this.tagList()
            // 获取项目的接口配置数据
            this.getProjectApiConfig().catch(err => {
                if (err === '不存在该项目') {
                    this.dialogVisible = true
                } else {
                    this.$message.error(err)
                }
            })
        },
        methods: {
            ...mapActions(['getProjectApiConfig', 'setProjectInfo', 'addProject', 'tagList']),
            // 保存项目标志的修改
            confirmModify() {
                const identifier = this.moduleModefiedData.identifier.trim()
                if (!identifier) {
                    return this.$message.error('请填写项目标识')
                }
                if (!/^[A-Za-z0-9]+$/.test(identifier)) {
                    return this.$message.error('请填写规范的项目标识')
                }
                // 保存项目标志至vuex
                this.setProjectInfo({ identifier: identifier})
                // 新建项目
                this.addProject().then(() => {
                    this.dialogVisible = false
                    // 更改本地版本号
                    this.$store.commit('SET_PROJECT_VERSION', {
                        version: 'v1'
                    })
                }).catch(err => {
                    this.$message.error(err)
                })
            }
        }
    }
</script>

<style scoped>
    .content-view {
        display: flex;
        flex-direction: row;
    }
    .side-view {
        flex: 0 0 330px;
    }
    .content {
        flex: 1;
        overflow: auto;
    }
    .tips {
        font-size: 14px;
        color: red;
    }
</style>
