<template>
  <transition name="fade">
    <div class="loading" v-show="state">
      <img src="../../assets/loading.svg">
    </div>
  </transition>
</template>

<script>
export default ({
  name: 'loading',
  props: {
    state: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    state (value) {
      if (value) {
        setTimeout(() => {
          this.$store.dispatch('hideLoading')
        }, 10000)
      }
    }
  }
});
</script>

<style scoped>
.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}

.loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>