<template>
    <div class="sidebar">
        <!-- 版本选择 -->
        <div class="version-container">
            <el-form :inline="true" label-width="80px">
                <el-form-item style="margin-bottom: 0;" label="版本选择">
                    <el-select style="width: 100px;" v-model="curVersion">
                        <el-option v-for="item in versionList"
                                    :key="item"
                                    :label="item"
                                    :value="item" />
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button size="mini" type="primary" @click="addVersion">新增版本</el-button>
                </el-form-item>
            </el-form>
        </div>
        <el-tree :data="treeData"
             :props="defaultProps"
             node-key="id"
             default-expand-all
             :expand-on-click-node="false"
             :render-content="renderContent" />
        <el-button class="addModuleBtn" type="success" size="mini"
                   @click="addModule">
            新增模块
        </el-button>
        <!-- 模块信息修改 -->
        <el-dialog title="修改模块信息"
                   :visible.sync="dialogVisible"
                   width="30%">
            <el-form ref="form" :model="moduleModefiedData" label-width="80px">
                <el-form-item label="模块名称">
                    <el-input v-model="moduleModefiedData.name"></el-input>
                </el-form-item>
                <el-form-item label="模块标识">
                    <el-input v-model="moduleModefiedData.identifier"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="confirmModify">保存</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
        <!-- 新增模块 -->
        <el-dialog title="新增模块"
                   :visible.sync="dialogVisible_addModule"
                   width="30%">
            <el-form ref="form_1" :model="moduleModefiedData" label-width="80px">
                <el-form-item label="模块名称">
                    <el-input v-model="moduleModefiedData.name"></el-input>
                </el-form-item>
                <el-form-item label="模块标识">
                    <el-input v-model="moduleModefiedData.identifier"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="confirmModify_addModule">保存</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
        <!-- 新增接口 -->
        <el-dialog title="新增接口"
                   :visible.sync="dialogVisible_API"
                   width="30%">
            <el-form ref="form_1" :model="newAPIData" label-width="80px">
                <el-form-item label="接口名称">
                    <el-input v-model="newAPIData.name"></el-input>
                </el-form-item>
                <el-form-item label="接口标识">
                    <el-input v-model="newAPIData.identifier"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="confirmModify_API">保存</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import _cloneDeep from 'lodash/cloneDeep'

export default {
    data() {
        return {
            curVersion: 'v1',
            treeData: [],
            defaultProps: {
                children: 'actionList',
                label: 'name'
            },
            dialogVisible: false,
            moduleOriginData: {
                name: '',
                identifier: ''
            },
            moduleModefiedData: {
                name: '',
                identifier: ''
            },
            dialogVisible_API: false,
            curHandleAPIParent: null,
            newAPIData: {
                name: '',
                identifier: ''
            },
            dialogVisible_addModule: false
        }
    },
    computed: {
        ...mapState({
            projectApiData: state => state.projectApiData,
            versionList: state => state.versionList
        })
    },
    watch: {
        projectApiData(data) {
            this.treeData = _cloneDeep(data).moduleList
        },
        curVersion(newval, oldval) {
            if (newval === oldval) return
            // 设置vuex新的版本号
            this.$store.commit('SET_PROJECT_VERSION', {
                version: newval
            })
            // 获取对应版本的接口配置数据
            this.getProjectApiConfig().then(() => {
                this.$eventBus.$emit('sidebar_clickNode', null)
            })
        }
    },
    methods: {
        ...mapActions(['getProjectApiConfig', 'getSomeApiData', 'updateModule', 'addApi_ajax',
                       'addModule_ajax', 'delModule_ajax', 'delApi_ajax']),
        // el-tree 渲染方法
        renderContent(h, { node, data, store }) {
            const nodeType = data.actionList ? 'module' : 'api'
            const iconPlusStyle = {
                'margin-left': '10px',
                'color': '#67c23a',
                'display': nodeType === 'module' ? 'inline' : 'none'
            }
            const nodeNameStyle = {
                'display': 'inline-block',
                'font-size': '14px',
                'width': '80px',
                'overflow': 'hidden',
                'text-overflow': 'ellipsis',
                'white-space': 'nowrap'
            }

            return (
                <div class="module-item">
                    <span  style={nodeNameStyle}
                           on-click={ () => this.getApi(node, data) }>
                          {nodeType === 'module' ? data.name : data.identifier}
                    </span>
                    <i class="el-icon-edit"
                        style="margin-left: 10px;color: #409EFF;"
                        title="编辑"
                        on-click={() => nodeType === 'module' ?
                                        this.editModule(node, data) :
                                        this.editApi(node, data)} />
                    <i class="el-icon-delete"
                        style="margin-left: 10px;color: #fa5555;"
                        title="删除"
                        on-click={() => nodeType === 'module' ?
                            this.deleteModule(node, data) :
                            this.deleteApi(node, data)} />
                    <i class="el-icon-plus"
                        style={iconPlusStyle}
                        title="添加接口"
                        on-click={() => this.addApi(node, data)} />
                </div>
            )
        },
        // 编辑当前模块的信息
        editModule(node, data, type) {
            this.dialogVisible = true
            // 保存模块的原有数据
            this.moduleOriginData.name = data.name
            this.moduleOriginData.identifier = data.identifier
            // v-model绑定
            this.moduleModefiedData.name = data.name
            this.moduleModefiedData.identifier = data.identifier
        },
        // 查看当前接口
        getApi(node, data, callback) {
            // 过滤掉模块节点的点击事件
            if (!node.isLeaf) return

            const moduleIdentifier = node.parent.data.identifier
            const moduleName = node.parent.data.name
            const apiIdentifier = data.identifier
            const param = {
                moduleIdentifier: moduleIdentifier,
                apiIdentifier: apiIdentifier
            }
            this.getSomeApiData(param).then(data => {
                this.$eventBus.$emit('sidebar_clickNode', {
                    moduleIdentifier: moduleIdentifier,
                    data: data
                })
                if (callback && typeof callback === 'function') {
                    callback()
                }
            })
        },
        // 编辑当前接口
        editApi(node, data) {
            this.getApi(node, data, () => {
                // 编辑该接口
                this.$eventBus.$emit('sidebar_editApi', node)
            })
        },
        // 删除当前模块
        deleteModule(node, data, type) {
            this.$confirm('确定删除该模块?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.delModule_ajax({
                    moduleData: {
                        identifier: node.data.identifier
                    }
                }).then(data => {
                    this.$message.success(data.message)
                }).catch(err => {
                    this.$message.error(err)
                })
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                })         
            })
        },
        // 删除当前接口
        deleteApi(node, data) {
            this.$confirm('确定删除该接口?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.delApi_ajax({
                    moduleData: {
                        identifier: node.parent.data.identifier
                    },
                    apiData: {
                        identifier: node.data.identifier
                    }
                }).then(data => {
                    this.$message.success(data.message)
                }).catch(err => {
                    this.$message.error(err)
                })
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                })         
            })
        },
        // 新建一个模块
        addModule() {
            this.dialogVisible_addModule = true
            this.moduleModefiedData.identifier = ''
            this.moduleModefiedData.name = ''
        },
        // 添加一个接口
        addApi(node, data) {
            this.curHandleAPIParent = node.data
            this.dialogVisible_API = true
        },
        // 模块信息修改/模态框确定事件
        confirmModify() {
            this.dialogVisible = false
            // 检查一下用户是否修改了
            if (this.moduleOriginData.name === this.moduleModefiedData.name && 
                this.moduleOriginData.identifier === this.moduleModefiedData.identifier) {
                return false  
            }
            // 请求后端
            this.updateModule({
                originData: this.moduleOriginData,
                updateData: this.moduleModefiedData
            }).then(data => {
                this.$message.success(data.message)
            }).catch(err => {
                this.$message.error(err)
            })
        },
        // 新增接口/模态框确定事件
        confirmModify_API() {
            this.dialogVisible_API = false

            // 请求后端接口
            this.addApi_ajax({
                moduleData: {
                    identifier: this.curHandleAPIParent.identifier
                },
                apiData: {
                    identifier: this.newAPIData.identifier,
                    name: this.newAPIData.name,
                    requestType: 'GET',
                }
            }).then(data => {
                this.$message.success(data.message)
            }).catch(err => {
                this.$message.error(err)
            })
        },
        // 新增模块/模态框确定事件
        confirmModify_addModule() {
            this.dialogVisible_addModule = false
            if (this.moduleModefiedData.name.trim() === '' ||
                this.moduleModefiedData.identifier.trim() === ''){
                    return false
            }
            this.addModule_ajax({
                moduleData: {
                    name: this.moduleModefiedData.name,
                    identifier: this.moduleModefiedData.identifier
                }
            }).then(data => {
                this.$message.success(data.message)
            }).catch(err => {
                this.$message.error(err)
            })
        },
        // 新增版本
        addVersion() {
            this.$eventBus.$emit('addVersion')
        }
    }
}
</script>

<style scoped>
.sidebar {
  display: block;
  position: absolute;
  width: 250px;
  left: 0;
  top: 70px;
  bottom: 0;
  padding: 40px;
  overflow-y: auto;
}
.sidebar > ul {
  height: 100%;
}
.addModuleBtn {
  margin-top: 20px;
}
.module-item {
    height: 100px;
}
</style>
