<template>
    <div id="app">
        <router-view></router-view>
        <Loading :state="this.$store.state.loadingState"></Loading>
    </div>
</template>
<script>
import axios from 'axios';
import Loading from './components/common/Loading'

export default {
    data (){
        return {}
    },
    components: {
        Loading
    },
    methods: {}
}
</script>

<style>
    @import "../static/css/main.css";
    @import "../static/css/color-dark.css";     /*深色主题*/

    #app {
        min-width: 1400px;
        overflow: auto;
    }
</style>